Classroom Info
<%= render partial: 'classroom', locals: {classroom: @classroom} %>

<h2>Students Info:</h2>
<% @classroom.students.each do |student| %>
  <%= render partial: 'students/student', locals: {student: student} %>
<% end %>
